@import "tailwindcss";

@theme {
  --color-primary: #005baa;
  --color-primary-dark: #003d73;
  --color-primary-light: #eaf4ff;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-info: #3b82f6;
}

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", sans-serif;
}
